@use "/src/sass/base/variables.scss" as *;

.git {
    padding: 60px 10px 0 10px;

    &__wrapper {
        padding-top: 60px;
    }

    &__button {
        margin-top: 20px;
        width: 220px;
        height: 40px;
    }

    &__img-vase {
        display: none;
        width: 85px;
        height: 85px;
    }

    &__img-dishes {
        display: none;
    }

    &__fieldset {
        border: 0;
        padding: 0;
        margin: 0;
    }

    &__label {
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: $dark;

        &:nth-child(2) {
            margin-top: 8px;
        }
    }

    &__input {
        padding: 10px 15px;
        background: #FFFFFF;
        border: 1px solid #E2E1E5;
        border-radius: 2px;
        width: 100%;
        height: 48px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: $dark;

        &:focus {
            border: none;
            outline: 1px solid $dark;
        }

        &::placeholder {
            color: $gray2;
        }

    }

    &__textarea {
        padding: 10px 15px;
        width: 100%;
        height: 132px;
        border: 1px solid #E2E1E5;
        border-radius: 2px;
        background: #fff;
        color: $dark;
        resize: none;

        &:focus {
            border: none;
            outline: 1px solid $dark;
        }

        &::placeholder {
            color: $gray2;
        }
    }

    &__check-block {
        display: flex;
        align-items: center;
        margin-top: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        color: $dark;

        a {
            color: #A22DC6;
            text-decoration: none;
            margin-left: 2px;
        }
    }

    &__checkbox {
        margin-right: 15px;
		width: 15px;
		height: 15px;
    }
}

@media screen and (min-width: 768px) {
    .git {
        padding: 0 48px;

        &__wrapper {
            padding-top: 60px;
        }

        &__col-2 {
            position: relative;
        }

        &__img-vase {
            display: block;
            position: absolute;
            right: -42px;
            bottom: 0;
        }
    }

}

@media screen and (min-width: 1200px) {
    .git {
        padding: 80px 30px;

        &__img-dishes {
            display: block;
            width: 100%;
            object-fit: cover;
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        }

        &__col-1 {
            padding-right: 10px;
        }

        &__col-2 {
            padding-left: 10px;
        }

        &__button {
            margin-top: 312px;
        }

        &__img-vase {
            right: 0;
        }

        &__input {
            &:hover {
                border: none;
                outline: 1px solid $dark;
            }

        }
    }
}

@media screen and (min-width: 1920px) {
    .git {
        padding-top: 100px;

        &__col-2 {
            padding-left: 147px;
        }

        &__img-vase {
            right: 34px;
        }
    }
}