@use "/src/sass/base/mixins.scss" as *;
@use "/src/sass/base/variables.scss" as *;

.btn-default {
    @include button;
    width: 230px;
    height: 50px;
    font-size: 20px;
}

.btn-send {
    /* Property 1=Default */

position: absolute;
width: 220px;
height: 40px;
left: 20px;
top: 20px;



/* Rectangle 2 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 1px solid #232323;
border-radius: 2px;


/* send request */

position: absolute;
width: 110px;
left: calc(50% - 110px/2);
top: 27.5%;
bottom: 25%;

font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;

color: #232323;
}

@media screen and (min-width: 1200px) {
     .btn-default {
        &:hover {
            background-color: $dark;
            color: $white;
        }
        &:active {
        background: rgba(217, 217, 217, 0.1);
        box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
        border: none;
        border-radius: 2px;
        color: $dark;
        }
     }
}

@media screen and (min-width: 1920px) {
    .btn-default {
    width: 330px;
    height: 60px;
    }
}